<a href="https://colab.research.google.com/github/UICHANLEE/DeepLearning/blob/main/heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('Heart.csv')
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

## 전처리 : 결측치 제거

In [2]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [3]:
df = df.dropna()

## 전처리 : X/y 데이터 나누기

In [4]:
y = df.pop('AHD')
X = df

In [5]:
pd.get_dummies(y)

     No  Yes
0     1    0
1     0    1
2     0    1
3     1    0
4     1    0
..   ..  ...
297   0    1
298   0    1
299   0    1
300   0    1
301   0    1

[297 rows x 2 columns]

In [6]:
# y 값의 인코딩
y[y=='Yes'] = 1
y[y=='No'] = 0
y

<ipython-input-6-18687b6d3207>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y[y=='Yes'] = 1
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
<ipython-input-6-18687b6d3207>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y[y=='No'] = 0

0      0
1      1
2      1
3      0
4      0
      ..
297    1
298    1
299    1
300    1
301    1
Name: AHD, Length: 297, dtype: object

In [7]:
# x값의 인코딩
pd.get_dummies(X)

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,ChestPain_asymptomatic,ChestPain_nonanginal,ChestPain_nontypical,ChestPain_typical,Thal_fixed,Thal_normal,Thal_reversable
0,1,63,1,145,233,1,2,150,0,2.3,3,0.0,0,0,0,1,1,0,0
1,2,67,1,160,286,0,2,108,1,1.5,2,3.0,1,0,0,0,0,1,0
2,3,67,1,120,229,0,2,129,1,2.6,2,2.0,1,0,0,0,0,0,1
3,4,37,1,130,250,0,0,187,0,3.5,3,0.0,0,1,0,0,0,1,0
4,5,41,0,130,204,0,2,172,0,1.4,1,0.0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,298,57,0,140,241,0,0,123,1,0.2,2,0.0,1,0,0,0,0,0,1
298,299,45,1,110,264,0,0,132,0,1.2,2,0.0,0,0,0,1,0,0,1
299,300,68,1,144,193,1,0,141,0,3.4,2,2.0,1,0,0,0,0,0,1
300,301,57,1,130,131,0,0,115,1,1.2,2,1.0,1,0,0,0,0,0,1
301,302,57,0,130,236,0,2,174,0,0.0,2,1.0,0,0,1,0,0,1,0

## 전처리 : X값의 정규

In [8]:
X = (X-X.mean())/X.std()

<ipython-input-8-29c7efc306e1>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  X = (X-X.mean())/X.std()

In [9]:
X

,Age,Ca,ChestPain,Chol,ExAng,Fbs,MaxHR,Oldpeak,RestBP,RestECG,Sex,Slope,Thal,Unnamed: 0
0,0.934603,-0.720760,NaN,-0.275978,-0.695246,2.426332,0.017465,1.067164,0.749116,1.008496,0.689930,2.260330,NaN,-1.714015
1,1.376605,2.474249,NaN,0.743301,1.433497,-0.410757,-1.813274,0.381130,1.593577,1.008496,0.689930,0.642696,NaN,-1.702563
2,1.376605,1.409246,NaN,-0.352904,1.433497,-0.410757,-0.897904,1.324427,-0.658320,1.008496,0.689930,0.642696,NaN,-1.691111
3,-1.938409,-0.720760,NaN,0.050961,-0.695246,-0.410757,1.630258,2.096215,-0.095345,-1.001728,0.689930,2.260330,NaN,-1.679660
4,-1.496407,-0.720760,NaN,-0.833696,-0.695246,-0.410757,0.976423,0.295376,-0.095345,1.008496,-1.444542,-0.974938,NaN,-1.668208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,0.271600,-0.720760,NaN,-0.122124,1.433497,-0.410757,-1.159438,-0.733675,0.467629,-1.001728,-1.444542,0.642696,NaN,1.687140
298,-1.054405,-0.720760,NaN,0.320204,-0.695246,-0.410757,-0.767137,0.123867,-1.221294,-1.001728,0.689930,0.642696,NaN,1.698592
299,1.487106,1.409246,NaN,-1.045244,-0.695246,2.426332,-0.374836,2.010461,0.692818,-1.001728,0.689930,0.642696,NaN,1.710043
300,0.271600,0.344243,NaN,-2.237607,1.433497,-0.410757,-1.508150,0.123867,-0.095345,-1.001728,0.689930,0.642696,NaN,1.721495
301,0.271600,0.344243,NaN,-0.218283,-0.695246,-0.410757,1.063601,-0.905184,-0.095345,1.008496,-1.444542,0.642696,NaN,1.732947

In [10]:
X_std = X
X_std

,Age,Ca,ChestPain,Chol,ExAng,Fbs,MaxHR,Oldpeak,RestBP,RestECG,Sex,Slope,Thal,Unnamed: 0
0,0.934603,-0.720760,NaN,-0.275978,-0.695246,2.426332,0.017465,1.067164,0.749116,1.008496,0.689930,2.260330,NaN,-1.714015
1,1.376605,2.474249,NaN,0.743301,1.433497,-0.410757,-1.813274,0.381130,1.593577,1.008496,0.689930,0.642696,NaN,-1.702563
2,1.376605,1.409246,NaN,-0.352904,1.433497,-0.410757,-0.897904,1.324427,-0.658320,1.008496,0.689930,0.642696,NaN,-1.691111
3,-1.938409,-0.720760,NaN,0.050961,-0.695246,-0.410757,1.630258,2.096215,-0.095345,-1.001728,0.689930,2.260330,NaN,-1.679660
4,-1.496407,-0.720760,NaN,-0.833696,-0.695246,-0.410757,0.976423,0.295376,-0.095345,1.008496,-1.444542,-0.974938,NaN,-1.668208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,0.271600,-0.720760,NaN,-0.122124,1.433497,-0.410757,-1.159438,-0.733675,0.467629,-1.001728,-1.444542,0.642696,NaN,1.687140
298,-1.054405,-0.720760,NaN,0.320204,-0.695246,-0.410757,-0.767137,0.123867,-1.221294,-1.001728,0.689930,0.642696,NaN,1.698592
299,1.487106,1.409246,NaN,-1.045244,-0.695246,2.426332,-0.374836,2.010461,0.692818,-1.001728,0.689930,0.642696,NaN,1.710043
300,0.271600,0.344243,NaN,-2.237607,1.433497,-0.410757,-1.508150,0.123867,-0.095345,-1.001728,0.689930,0.642696,NaN,1.721495
301,0.271600,0.344243,NaN,-0.218283,-0.695246,-0.410757,1.063601,-0.905184,-0.095345,1.008496,-1.444542,0.642696,NaN,1.732947

In [21]:
import numpy as np
X.std = np.array(X_std, dtype = float)
y = np.array(y, dtype = float)

## 모델 만들기

In [27]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [28]:
def build_model():
  model = tf.keras.Sequential([
                               layers.Dense(64, input_shape=[X_std.shape[1]], activation = 'relu'),
                               layers.Dense(64, activation = 'relu'),
                               layers.Dense(1, activation = 'softmax') # 0과 1사이의 확률을 같도록                      
  ])
  model.compile(loss= 'binary_crossentropy', optimizer= 'adam', metrics = ['accuracy'])
  return model

In [29]:
model = build_model()
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                960

 dense_10 (Dense)            (None, 64)                4160

 dense_11 (Dense)            (None, 1)                 65

=================================================================
Total params: 5,185
Trainable params: 5,185
Non-trainable params: 0
_________________________________________________________________

## 모델학

In [30]:
history = model.fit(X_std, epochs= 1000, validation_split = 0.2)

ValueError: ignored